<div class="form-group" *ngIf="variable">
  <label *ngIf="variable.title">{{variable.title}}</label>

  <div class="input-group">
    <input type="number" class="form-control" [placeholder]="variable.placeholder || variable.title || ''" [(ngModel)]="variable.value" [attr.min]="variable.min" [attr.max]="variable.max" [attr.step]="variable.step">

    <span class="input-group-btn">
      <button class="btn btn-default" (click)="dec()" tabindex="-1">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button class="btn btn-default" (click)="inc()" tabindex="-1">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
  </div>
</div>
