<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Template Builder</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed" (click)="isCollapsed = true">
      <ul class="nav navbar-nav">
        <li [class.active]="router.serializeUrl(router.urlTree) === ''">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li [class.active]="router.serializeUrl(router.urlTree) === '/template-editor'">
          <a  [routerLink]="['/template-editor']">Template</a>
        </li>
        <li [class.active]="router.serializeUrl(router.urlTree) === '/drag-n-drop'">
          <a [routerLink]="['/drag-n-drop']">Drag-n-Drop</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
