.debug-window {
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.debug-window  pre{
    margin: 0;
    background: transparent;
    border: none;
    font-size: 11px;
}
