.debug-window {
    background-color: #fff;
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 10;
}

.debug-window  pre{
    margin: 0;
    background: transparent;
    border: none;
    font-size: 11px;
}

@media (min-width: 768px) {
    .debug-window {
        position: absolute;
        top: 55px;
    }
}