<div *ngIf="data && data.traverseDone">
  <div class="sidebar-header">
    <button class="btn btn-success pull-left" (click)="saveData()">Save</button>
    <button class="btn btn-default pull-left" (click)="showDebug = !showDebug; collapsed = true">Debug</button>

    <button class="btn btn-default visible-xs pull-right" (click)="collapsed = !collapsed; showDebug = false" [class.active]="collapsed">
      <span class="glyphicon glyphicon-th"></span>
    </button>
  </div>

  <div class="debug-window" *ngIf="showDebug" [class.hidden-xs]="!collapsed">
    <pre>
{{ data | json }}
    </pre>
  </div>

  <div class="sidebar-content" [class.hidden-xs]="!collapsed">
    <edit-abstract *ngFor="let variable of data.variables | values" [variable]="variable"></edit-abstract>
  </div>
</div>
