<div class="sidebar-header">
  <button class="btn btn-success pull-left" (click)="showDebug = !showDebug">Save</button>
  <button class="btn btn-default pull-left" (click)="showDebug = !showDebug">Debug</button>
  <div class="clearfix"></div>
</div>

<div class="sidebar-content">
  <form>
    <div class="form-group" *ngFor="let variable of data.variablesArr">
      <label>{{variable.title}}</label>
      <input type="text" class="form-control" [placeholder]="variable.placeholder || variable.title" [(ngModel)]="variable.value">
    </div>
  </form>
</div>

<div class="debug-window" *ngIf="showDebug">
  <pre>
{{ data | json }}
  </pre>
</div>
