<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Template editor</h1>
        </div>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <tb-codemirror [(ngModel)]="template" [config]="{
                        theme: 'solarized light',
                        lineNumbers: true
                    }"></tb-codemirror>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
