<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <div class="sidebar-header">
            <button class="btn btn-success pull-right" (click)="save()">Save</button>
            <button class="btn btn-default pull-right" (click)="reset()">Reset</button>
            <div class="clearfix"></div>
        </div>

        <div>
            INFO
        </div>
    </div>

    <div class="col-sm-8 col-md-9 template padding0">
        <tb-codemirror [(ngModel)]="template" [config]="{
                        lineNumbers: true,
                        mode: 'htmlmixed'
                    }"></tb-codemirror>
    </div>

</div>
